*{
    margin: 0px;
    padding: 0px;
    font-family: 'Outfit', sans-serif;
    margin: auto;
}

:root{
/* Cores Primárias */

--azul: hsl(215, 51%, 70%);
--ciano: hsl(178, 100%, 50%);

/* Cores Neutras */

--fundo: hsl(217, 54%, 11%);
--card: hsl(216, 50%, 16%);
--linha: hsl(215, 32%, 27%);
--branco: hsl(0, 0%, 100%);
}

body{
    background-color: var(--fundo);
    max-width: 1440px;
    min-width: 375px;
}

#img_card{
    border-radius: 20px;
}

#olho{
    background-color: var(--ciano);
    width:'300px';
    position: absolute;
    margin-top: -427px;
    padding: 123px;
    padding-left: 127px;
    border-radius: 20px;
    cursor: pointer;
    opacity: 0;
}

#olho:hover{
    opacity: 1;
    background-color:  hsla(178, 100%, 50%, 50%);
    transition-duration: 0.5s;
}

p{
    font-size: 18px;
    margin-top: 20px;
    color: var(--azul);
    font-weight: 300;
}

#card{
    background-color: var(--card);
    width: 300px;
    padding: 30px;
    border-radius: 20px;
    margin-top: 130px;
}

#card>h1{
    color: white;
    margin-top: 30px;
    font-size: 22px;
}

#card>h1:hover{
    color: var(--ciano);
    cursor: pointer;
    transition-duration: 0.5s;
}

#container1{
    display: flex;
    align-items: center;
    margin-left: 0px;
}

#ethereum{
    margin-top: 30px;
    display: flex;
    align-items: center;
    margin-left: 0px;
}

#ethereum_valor{
    color: var(--ciano);
    font-weight: 600;
    font-size: 16px; 
    margin-top: -20px;
    margin-left: 20px;
}

#tempo{
    margin-top: 30px;
    display: flex;
    align-items: center;
}

#relogio{
    margin-left: 100px;
    margin-right: 5px;
    margin-top: 5px;
}

#dias{
    font-size: 16px;
    color: var(--azul);
    font-weight: 300;

}

hr{
    margin-top: 25px;
    border-color: var(--linha)
}

#avatar>img{
    border: solid white 1.5px;
    border-radius: 100%;
    margin-top: 15px;
    display: inline-block;
}

#container2{
    display: flex;
    align-items: center;
    margin-left: -30px;
}

#criado{
    margin-left: -15px;
    margin-top: 25px;
}

#nome{
    color: var(--branco);
}

#nome:hover{
    color: var(--ciano);
    cursor: pointer;
    transition-duration: 0.5s;    
}
